<div class="box-user">
    <div class="box-table">
        <p class="total">Total de Usuarios: {{usuarios.length}}</p>

        <table class="table">
            <tr class="table-head">
                <td class="col-id">ID</td>
                <td class="col-nome">Nome</td>
                <td class="col-usuario">Usuario</td>
                <td class="col-email">E-mail</td>
            </tr>
            <tr *ngFor="let usuario of usuarios">
                <td class="col-id">{{usuario.id}}</td>
                <td class="col-name">{{usuario.name}}</td>
                <td class="col-username">{{usuario.username}}</td>
                <td class="col-email">{{usuario.email}}</td>
            </tr>

        </table>
    </div>
</div>